@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@

<p>If you have any information for the sacrament meeting program, please contact us!</p>

<address>
    <strong>Meghan Shannon</strong><br />
    <abbr title="Phone">P:</abbr> 208.555.0100<br />
    <strong>Email:</strong> <a href="mailto:fakeemai645@gmail.com">fakeemai645@gmail.com</a>
</address>

<address>
    <strong>Mike Summers</strong><br />
    <abbr title="Phone">P:</abbr> 208.555.2566<br />
    <strong>Email:</strong> <a href="mailto:fakeemail23423@gmail.com">fakeemail23423@gmail.com</a>
</address>

