@{
    ViewData["Title"] = "Home Page";
}

<h2>Welcome!</h2>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <p>
                We're glad you came to visit our Sacrament Meeting Planner.
                <a asp-area="" asp-controller="Meetings" asp-action="Index">Click here</a> to view meetings.
            </p>

            <blockquote>
                The Best Way I Know of to Draw Closer to God is to Prepare 
                Conscientiously and Partake Worthily of the Sacrament Each Week.<br/><br/>
                <span class="text-right small">Elder Dale G. Renlund</span>
            </blockquote>
        </div>
        <div class="col-sm-6">
            <img src="~/images/bread_water.jpg" class="img-responsive img-rounded" style="margin: auto;" />
        </div>
    </div>
</div>


